<nav class="indigo">
          <div class="nav-wrapper">     
           <a class="brand-logo" href="/">&nbsp;&nbsp;Paul-Chatrrom</a> 

              <ul id="nav-mobile" class="right hide-on-med-and-down">
                 
                   <li>
                      <a  href="/about">About</a>
                  </li>
                  <li >
                      <a href="/contact">Contact</a>
                  </li>
                  <li>
                    <a href='/admin'>Admin</a>
                  </li>
              </ul>
          </div>
</nav> 





