<!DOCTYPE html>
<html>
   <% include /partials/head %>
<body>

<div class="container-fluid">
       <a href = "/admin/create">Create</a>
<a href = "/admin/get">Get</a>
<a href = "/admin/delete">Delete</a>
<a href = "/admin/analytics">analytics</a>

</div>
</body>
</html>